<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="alternate"
      type="application/rss+xml"
      href="https://devbeatitude.comrss.xml"
      title="RSS feed for https://devbeatitude.com"/>
<title>Code Reviews Make for Social Programming</title>
<meta name="author" content="David Miller">
<meta name="referrer" content="no-referrer">
<link href= "static/style.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="static/favicon.ico">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta name="viewport" content="initial-scale=1,width=device-width,minimum-scale=1"></head>
<body>
<div id="preamble" class="status">
<div class="header">
  <a href="https://devbeatitude.com">devbeatitude.com</a>
  <div class="sitelinks">
    <a href="https://devbeatitude.com/rss.xml">RSS</a> | 
    <a href="https://gitlab.com/devbeatitude">GitLab</a> | 
    <a href="mailto:dmiller@davidocmiller.tech">Email Me</a>
  </div>
</div></div>
<div id="content">
<div class="post-date">16 Oct 2018</div><h1 class="post-title"><a href="2018-10-17-code-reviews-social-programming.html">Code Reviews Make for Social Programming</a></h1>
<p>
A long time ago on a project long dead, I setup a code review system.  At that time I was naive: the code review started <b>after</b> the code deployed to the development server.  If it seemed to work, the project manager was happy, and no one really cared about the code reviews.  So I switched our project from Subversion to Git, and setup a <a href="https://nvie.com/posts/a-successful-git-branching-model/">git-flow</a> model, where code lands in feature branches and must be reviewed before it gets deployed anywhere.<sup><a id="fnr.1" class="footref" href="#fn.1">1</a></sup>
</p>

<p>
As I am not a project manager or a software development manager or a scrum master, I have limited influence over how my programmers actually work, but I do exercise despotic control over the code itself.  This one change (enforcing code reviews) is the best thing I ever did in terms of code quality.
</p>

<p>
First, it lets everyone learn from each other.  I learned about Java 8 streams and lambdas from reviewing other people&rsquo;s code.  Some of the other guys have learned from my comments.
</p>

<p>
Second, sometimes we catch real issues before the code lands.  At least twice in the last two weeks, code reviews revealed a completely wrong path taken by the programmer, or a complete misunderstanding of the requirements.  Now, it would be really nice if we caught these issues even earlier, like <b>before</b> the programmer invests days going down the wrong path.  Still, better catch it in the code review, than after customer deployment.
</p>

<p>
Obviously the reviews are only as good as the reviewers. On another project in my company, &ldquo;code reviews&rdquo; consist of reviewers checking out the feature branch, running it locally, and seeing if it works&#x2026; so they are just duplicating the work of the system tester.  They are not reviewing for correctness, coding standards, security, efficiency, architectural adherence, etc.
</p>

<p>
Other times we review according to our history with the programmer.  I trust some of my programmers more than others.  This week, my most senior programmer sent me a short code review.  I reviewed it very quickly and accepted it.  During the build some unit tests failed!  The test failures were from really sloppy code this programmer ordinarily would never have turned in, and that I would never have accepted, if it came from a more junior guy that I didn&rsquo;t trust so much.
</p>

<p>
Good judgment in code reviews is a precious commodity.  A couple of my programmers are very good and thorough code reviewers.  If I had another couple reviewers like that, our product would be much better.
</p>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1">1</a></sup> <div class="footpara"><p class="footpara">
Note that git-flow has its detractors: <a href="https://hackernoon.com/gitflow-is-a-poor-branching-model-hack-d46567a156e7">https://hackernoon.com/gitflow-is-a-poor-branching-model-hack-d46567a156e7</a>
</p></div></div>


</div>
</div><div class="taglist"><a href="tags.html">Tags:</a> <a href="tag-lessons-learned.html">lessons-learned</a> </div></div>
<div id="postamble" class="status"><div id="archive">
  <a href="https://devbeatitude.com/archive.html">Other posts</a>
</div>
<center>
  <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">
    <img alt="Creative Commons License" 
         style="border-width:0" 
         src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
  </a>
  <br />
  <span 
    xmlns:dct="https://purl.org/dc/terms/" 
    href="https://purl.org/dc/dcmitype/Text" 
    property="dct:title" 
    rel="dct:type">
      devbeatitude.com
  </span> by 
  <a 
    xmlns:cc="https://creativecommons.org/ns#" 
    href="https://devbeatitude.com" 
    property="cc:attributionName" 
    rel="cc:attributionURL">
    David Miller
  </a> is licensed under a 
  <a 
    rel="license" 
    href="https://creativecommons.org/licenses/by-sa/3.0/">
    Creative Commons Attribution-ShareAlike 3.0 Unported License
  </a>.</center></div>
</body>
</html>
